---
import Layout from '../layouts/Layout.astro';
import LogoCarousel from '../components/LogoCarousel.astro';
---

<Layout title="Creative Front-end Developer - Ste Greig">
	<main>

		<header class="flex fixed top-0 z-50 w-full p-3">
			<p>Nottingham, UK</p>
			<p class="mx-auto text-lg">Hey, Volteras 👋</p>
			<a class="btn" href="">Get in touch</a>
		</header>
		
		<section class="sticky top-0 z-[-1] bg-offwhite flex flex-col items-center justify-center px-6 py-20 text-center">
			<figure class="relative after:absolute after:left-0 after:bottom-0 after:w-full after:h-1/2 after:bg-gradient-to-t after:from-offwhite">
				<img width="220" height="221" class="mix-blend-darken" src="/ste-profile.png" alt="Ste Greig profile picture">
			</figure>
			<h1 class="text-grey-900 text-5xl md:text-7xl tracking-[-1px] -mt-9 relative z-10"><span class="text-grey-500">I'm</span> Ste Greig</h1>
			<p class="mt-[6px]">Front-end Developer <span class="mx-1 md:mx-4">/</span> Design Engineer</p>
			<p class="mt-10 max-w-[500px] text-center">I'm a creative developer with a keen eye for design and detail. I'm a Figma veteran, a CSS obsessive, I have a kink for semantic markup, and I love working with data and building reusable components - usually in React, but I'm flexible.</p>
			<p class="mt-14 text-grey-500">(and I'd like to work for you)</p>
		</section>

		<section class="bg-grey-100 px-6 py-16 md:py-0">
			<div class="md:flex md:items-start">
				<div class="w-full max-w-128 mx-auto copy md:pr-10 xl:pr-0 md:py-20 lg:py-32">
					<h2 class="heading">What I am and what I'm not (yet)</h2>
					<p>Front-end is a broad term in 2024. Many come via a computer science route, and others from a more creative background. My flavour of front-end is more-so the latter, but I continue to edge closer towards an ideal mix of the two.</p>

					<p>I specialise in UI patterns, user experiences, interactions, accessibility, page speed, and the visual and structural aspects of web pages and apps.</p>
						
					<p>I also have vast experience in marketing, which has facilitated a well-rounded skill set; lead-gen, e-commerce, CRO, SEO, A/B testing...</p>
						
					<p>I wouldn't quite describe myself as full-stack, but I love JavaScript and I've loved the transition to working in modern JS frameworks over the last 6-7 years, with considerable experience in Next.js, Gatsby, Astro and Eleventy.</p>
						
					<p>I'd like to think I'm the sort of person you can bet on. I'm extremely adaptable and a very fast learner, generally able to achieve a high level in whatever I turn my focus to. So if you think there are any gaps in my skill set, I'm confident these can be filled in a very short space of time.</p>
				</div>
				<div class="mt-8 md:mt-0 md:py-32 md:mr-auto flex justify-center items-center md:sticky md:top-0 lg:h-screen">
					<figure class="content-img">
						<img src="/family.png" alt="">
						<figcaption>Hello there lorem ipsum</figcaption>
					</figure>
				</div>
			</div>
		</section>

		<section class="bg-offwhite pt-8 md:pt-12 lg:pt-16 xl:pt-[4.5rem]">
			<LogoCarousel />
		</section>

		<section class="bg-offwhite h-screen py-16 md:py-20 lg:py-32">
			<div class="max-w-screen-md mx-auto text-center">
				<h2 class="heading">Here are a few of my favourite projects</h2>
				<p class="subheading">All of the projects below were both designed and built by me in their entirety</p>
			</div>
		</section>
		
	</main>
</Layout>