---
export interface Props {
  title: string;
  subtitle?: string;
	image?: string;
  link?: string;
}

const { title, subtitle, image, link } = Astro.props;
---

<div class="border border-grey-300 rounded-2xl p-7">
  <slot />
</div>
