---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

		<meta name="robots" content="noindex">
		<meta name="googlebot" content="noindex">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		@apply font-sans bg-offwhite text-grey-900 antialiased;
	}

	header {
		/* mask-image: linear-gradient(to bottom, rgb(24, 23, 23) 50%, transparent); */
		/* background: linear-gradient(to bottom, rgba(248, 247, 244, .9), transparent); */
	}
	
	a {
		@apply transition duration-300;
	}

	.btn {
		@apply transition duration-300 font-medium rounded border border-grey-300 hover:border-grey-900 focus:border-grey-900 px-3 py-2 leading-tight inline-flex items-center;
	}
	
	.btn svg {
		width: 1em;
		height: 1em;
		@apply ml-2;
	}

	.container {
		@apply max-w-screen-lg mx-auto;
	}

	.heading {
		@apply text-4xl lg:text-5xl/[1.2] tracking-[-1px] text-balance;
	}

	.subheading {
		@apply text-grey-700 mt-6 max-w-screen-sm mx-auto;
	}

	.copy .heading + .subheading {
		@apply mt-2;
	}

	.copy .heading {
		@apply mb-8;
	}

	.copy .heading:has(+ .subheading) {
		@apply mb-0;
	}

	.copy > * + * {
		@apply mt-5;
	}

	strong,
	b {
		@apply font-medium text-grey-900;
	}

	.content-img {
		@apply relative max-w-128 md:max-w-[412px];
	}

	.content-img img {
		@apply rounded-xl aspect-square object-cover relative z-20;
	}

	.content-img:after {
		content: "";
		@apply absolute border border-grey-900 w-full top-3 left-3 lg:top-6 lg:left-6 aspect-square	rounded-xl z-10;
	}

	.read-more-btn {
		@apply transition duration-300 ml-1 text-grey-700 hover:text-grey-900 border-b border-grey-300 hover:border-grey-900;
	}

	body:has(.testimonial:hover) .testimonial:not(:hover) {
    opacity: .5;
    filter: blur(1px);
  }

	.hide-scrollbars {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
	}
	.hide-scrollbars::-webkit-scrollbar { /* WebKit */
		@apply hidden;
	}
</style>
