---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

		<meta name="robots" content="noindex">
		<meta name="googlebot" content="noindex">
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		@apply font-sans bg-offwhite text-grey-900 antialiased;
		scroll-behavior: smooth;
	}

	header {
		/* mask-image: linear-gradient(to bottom, rgb(24, 23, 23) 50%, transparent); */
		/* background: linear-gradient(to bottom, rgba(248, 247, 244, .9), transparent); */
	}

	header .header-btn {
		@apply hidden sm:inline-flex;
	}

	.intro-section ~ *:not(.modal) {
		@apply relative z-10;
	}
	
	a {
		@apply transition duration-300;
	}

	.btn {
		@apply transition duration-300 font-medium rounded border border-grey-300 hover:border-grey-900 focus:border-grey-900 px-3 py-2 leading-tight inline-flex items-center relative;
	}

	.btn--white {
		@apply hover:border-white;
	}
	
	.btn svg {
		width: 1em;
		height: 1em;
		@apply ml-2;
	}

	.container {
		@apply max-w-screen-lg mx-auto;
	}

	.heading {
		@apply text-4xl lg:text-5xl/[1.2] tracking-[-1px] text-balance;
	}

	.subheading {
		@apply text-grey-700 mt-6 max-w-screen-sm mx-auto;
	}

	.copy .heading + .subheading {
		@apply mt-2;
	}

	.copy .heading {
		@apply mb-8;
	}

	.copy .heading:has(+ .subheading) {
		@apply mb-0;
	}

	.copy > * + * {
		@apply mt-5;
	}

	strong,
	b {
		@apply font-medium text-grey-900;
	}

	.content-img {
		@apply relative max-w-128 md:max-w-[412px];
	}

	.content-img img {
		@apply rounded-xl aspect-square object-cover relative z-20;
	}

	.content-img:after {
		content: "";
		@apply absolute border border-grey-900 w-full top-3 left-3 lg:top-6 lg:left-6 aspect-square	rounded-xl z-10;
	}
	
	.content-img figcaption {
		@apply mt-5 lg:mt-8 ml-6 lg:ml-8 text-sm text-grey-700;
	}

	.read-more-btn {
		@apply transition duration-300 ml-1 text-grey-700 hover:text-grey-900 border-b border-grey-300 hover:border-grey-900;
	}

	.tooltip {
		@apply absolute top-full mt-3 left-1/2 -translate-x-1/2 -translate-y-4 opacity-0 pointer-events-none bg-white text-black rounded px-2 py-1 text-xs transition duration-300 whitespace-nowrap leading-tight;
	}

	.btn:hover .tooltip {
		@apply opacity-100 translate-y-0;
	}

	.hide-scrollbars {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
	}
	.hide-scrollbars::-webkit-scrollbar { /* WebKit */
		@apply hidden;
	}


	/* ANIMATIONS */

	@media (prefers-reduced-motion: no-preference) {

		@media screen and (min-width: 1024px) {
			.intro-section {
				animation: scaleDown linear both;
				animation-timeline: view();
				animation-range: contain;
			}
		}

		.header-hey {
			animation: 2s hey both;
		}

		@keyframes hey {
			0% {
				transform: scale(3) translateY(160%);
				opacity: 0;
			}

			50% {
				transform: scale(3) translateY(200%);
				opacity: 1;
			}

			70% {
				transform: scale(3) translateY(200%);
			}
		}

		h1 {
			@apply relative;
		}

		h1:after {
			content: "";
			@apply absolute top-0 left-0 w-full h-[105%] bg-offwhite;
			animation: .8s 1.8s reveal both;
		}

		h1 + .intro-subtitle {
			animation: fadeInDown .7s 2.3s both ease-out;
		}

		.intro-profile img {
			animation: fadeInUp .7s 2.3s both;
		}

		.header-loc,
		.header-btn,
		.intro-blurb {
			animation: fadeIn 1s 2.8s both;
		}

		.intro-signoff {
			animation: fadeInDown 1s 3.8s both ease-out;
		}

		.content-img {
			animation: contentImg linear both;
			animation-timeline: view();
			animation-range: 0 50%;
		}

		.heading {
			animation: fadeIn linear both;
			animation-timeline: view();
			animation-range: 0 400px;
		}

		.training-item {
			animation: contentImg linear;
			animation-timeline: view();
			animation-range: 0 160px;
		}

		.thankyou {
			animation: fadeIn linear both;
			animation-timeline: view();
			animation-range: 0 60%;
		}

		@keyframes fadeInDownBig {
			from {
				opacity: 0;
				transform: translateY(-60px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes fadeInDown {
			from {
				opacity: 0;
				transform: translateY(-20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes fadeInUp {
			from {
				opacity: 0;
				transform: translateY(20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		
		@keyframes reveal {
			to {
				transform: translateX(100%);
			}
		}

		@keyframes scaleDown {
			to {
				transform: scale(0);
			}
		}

		@keyframes contentImg {
			from {
				opacity: 0;
				filter: grayscale(1) blur(2px);
				transform: scale(0.5) rotate(7deg);
			}
			70% {
				filter: grayscale(1) blur(2px);
			}
			to {
				opacity: 1;
				filter: grayscale(0);
				transform: scale(1);
			}
		}

	}

</style>
